html,body,p,ul,ol,h1,h2,h3,h4,h5{
    margin:0;
}
html{
    transition: all .5s linear;
}
p,ul{
    padding:0;
}
a{
    text-decoration: none;
    color:#686868;
}
img{
    display: block;
}
li{
    list-style: none;
}
h1,h2,h3,h4,h5{
    font-weight: normal;
}

#head{
    background: #fff;
    width:100%;
    position: fixed;
    /*height:110px;*/
    box-shadow: 0 1px 1px #eee;
    top:0;
    z-index: 9;
}


#head .wrap{
    width:1170px;
    padding:14px 10px;
    margin:0 auto;
}
#head .wrap:after{
    content: "";
    display: block;
    clear: both;
}
#head .leftLogo img{
    width:150px;
    height:82px;
    float: left;
}

#head .nav{
    width:80%;
    height:71px;
    float: right;
}
#head .nav .topNav{
    float: right;
}
#head .nav .topNav li{
    float: left;
    line-height: 1.15;
    font-size: 12px;
}
#head .nav .topNav li span{
    width:1px;
    height:12px;
    background-color:#aaa;
    margin:0 10px;
    display: inline-block;
}
#head .nav .mainNavArea{
    margin-top:54px;
    line-height: 16px;
}
#head .nav .mainNav{
    text-align: center;
    position: absolute;
    width:70%;
    left:15%;
}
#head .nav .mainNav .item{
    display: inline-block;
    font-size: 14px;
    padding:0 30px 28px;
    position: relative;
}
#head .nav .mainNav .item .subList{
    width:100%;
    background: #fff;
    text-align: center;
    padding-bottom:50px;
    position: fixed;
    left:0;
    top:110px;
    display: none;
}



#head .nav .mainNav .item .subList .subItem{
    display: inline-block;
    width:150px;
    vertical-align: top;
    margin-top: 20px;
}
#head .nav .mainNav .item .subList .subItem>a{
    color:#000;
    font-size: 14px;
}
#head .nav .mainNav .item .subList .subItem .innerList a{
    display: block;
    margin:20px 0;
    font-size:14px;
}





#head .nav .rightNav{
    float: right;
}
#head .nav .rightNav li{
    float: left;
    line-height: 1;
    margin-left:20px;
}
#head .nav .rightNav .cart{
    font-size: 14px;
    color:#C72244;
}
#head .nav .rightNav .cart i{
    font-size: 14px;
    color:#C72244;
    font-style: normal;
    margin-left: 5px;

}
#head .nav .rightNav li a{
    display: inline-block;
    width:14px;
    height:14px;
}
#head .nav .rightNav .iLike a{
    background: url("../img/icon-like.png") center no-repeat;
}
#head .nav .rightNav .find a{
    background: url("../img/icon-search.png") center no-repeat;
}
#head .nav .rightNav .cart a{
    background: url("../img/icon-cart.png") center no-repeat;
}




#footer{
    width:100%;
    height:192px;
    padding:64px 0;
}
#footer .left{
    width:60%;
    display: inline-block;
    text-align: right;
    vertical-align: top;
}
#footer .left .leftItem{
    display: inline-block;
    vertical-align: top;
    text-align: left;
    font-size: 12px;
    margin-right: 15px;

}
#footer .left .leftItem .title{
    font-size: 14px;
    font-weight: 600;
}
#footer .left .leftItem p{
    margin-top: 20px;
}
#footer .left .leftItem:nth-child(2){
    margin-right: 40px;
}
#footer .left .leftItem:last-child{
    margin-left: 160px;
}
#footer .left .payAttention em{
    width:40px;
    height:40px;
    display: inline-block;
    margin: 20px 10px 0 0;
}
#footer .left .payAttention .wechat{
    background: url("../img/icon-wechat.png") center no-repeat;
}
#footer .left .payAttention .blog{
    background: url("../img/icon-weibo.png") center no-repeat;
}

#footer .right{
    width:39%;
    max-width: 350px;
    display: inline-block;
}
#footer .right .title{
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
}
#footer .right .intro{
    font-size: 12px;
    color:#4c4c4c;
    margin-top: 10px;
}
#footer .right .address{
    margin-top: 10px;
}
#footer .right .address a{
    font-size: 12px;
    margin-right: 10px;
}
#footer .right .copyRight{
    font-size: 12px;
    margin-top: 50px;
    color: #4a4a4a;
}
#footer .right .beian{
    font-size: 12px;
    padding:20px 0;
    color:#939393;
}
#footer .right .beian img{
    display: inline-block;
    vertical-align: middle;
}

