

#pageHome{
    margin-top:110px;
    width:100%;
    height:448px;
    background: url("../img/bannerHead.jpg") top center;
    background-size: 100% ;
    /*background-size: 1306.65px 660.129px;*/
    /*background-size: 1228.22px 620.506px;*/
    position: relative;
    transition: all .5s linear ;
}
#pageHome .mask{
    width:100%;
    height:100%;
    position: absolute;
    background: rgba(0,0,0,0);
    transition: all .5s linear ;
}
#pageHome .pageDes{
    position: absolute;
    bottom:50%;
    width:100%;
    text-align: center;
    transition: all .5s linear ;
}
#pageHome .pageDes h2{
    font-size: 14px;
    margin-bottom: 21px;
    font-weight: 100;
    letter-spacing: 10px;
    color:#fff;
}
#pageHome .pageDes h1{
    font-size: 36px;
    margin-bottom: 16px;
    letter-spacing: 4px;
    color:#fff;
    font-weight: 100;
}
#pageHome .arrowDown {
    position: absolute;
    width:50px;
    height:50px;
    background: url("../img/icon-arrow-down.png") no-repeat center;
    left:50%;
    margin-left: -25px;
    bottom:50px;
    cursor: pointer;
}


#banner{
    width:100%;
    height:350px;
    overflow: hidden;
    position: relative;
}
#banner .bannerList{
    height:100%;
}
#banner .bannerList li:nth-child(1){
    z-index: 1;
}
#banner .bannerList li{
    width:100%;
    height:350px;
    position: absolute;
}
#banner .bannerList li a img{
    width:100%;
}
#banner .dotList{
    position: absolute;
    width:100%;
    height:16px;
    text-align: center;
    bottom:20px;
    z-index: 9;
}
#banner .dotList li{
    display: inline-block;
    width:8px;
    height:8px;
    background: transparent;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 0 5px;
    cursor: pointer;

}
#banner .dotList .chosed{
    background: #fff;
}


#banner .swiper{
    top:0;
    width:5%;
    height:100%;
    position: absolute;
    cursor: pointer;
}

#banner .swiperLeft{
    left:0;
    background: url("../img/icon-left-white.png") center right no-repeat;
    background-size: 16px 28px;
    z-index: 9;

}
#banner .swiperRight{
    right:0;
    background: url("../img/icon-right-white.png") center left no-repeat;
    background-size: 16px 28px;
    z-index: 9;
}



#brands{
    background: #f3f3f3;
    width:100%;
    /*height:340px;*/
    position: relative;
}
#brands .wrap{
    width:996px;
    margin: auto;
    height:340px;
    overflow: hidden;
}

#brands .brandContanier{
    padding:30px 0 22px;

}
#brands .brandContanier:after{
    content: "";
    display: block;
    clear: both;
}

#brands .brandItem{
    display: block;
    padding:0 15px 30px;
    float: left;
}

#brands .brandItem img:hover{
    box-shadow: rgba(148,140,140,0.2) 0px 2px 2px,
    rgba(148,140,140,0.2) 0px 4px 4px,
    rgba(148,140,140,0.2) 0px 8px 8px,
    rgba(148,140,140,0.2) 0px 16px 16px,
    rgba(148,140,140,0.2) 0px 32px 32px,
    rgba(148,140,140,0) 0px 64px 64px;
}
#brands .brandItem img{
    width:211px;
    height:125px;
    transition: box-shadow .3s ease-out;
}
#brands .bottomMore{
    position: absolute;
    width:132px;
    height:30px;
    font-size: 14px;
    background: #f3f3f3;
    left:50%;
    margin-left: -66px;
    bottom:-30px;
    text-align: center;
    cursor: pointer;
}

#brands .bottomMore .moreIcon{
    display: inline-block;
    border: 1px solid #000;
    width: 8px;
    height:8px;
    transform: rotate(135deg) ;
    border-left:none;
    border-bottom:none;
    margin-left: 5px;
    vertical-align: 2px;
}



#showGoods{
    background: #fff;
}
#showGoods .wrap{
    width:960px;
    margin: auto;
    padding:64px 0 50px 0;
}
#showGoods .wrap .showItem{
    display: inline-block;
    margin:0  10px 24px;
    position: relative;
    cursor: pointer;
}
#showGoods .wrap .showItem:hover .des .buyNow{
    background: #D2003C;
    border-color:#D2003C;
}
#showGoods .wrap .showItem:before{
    position: absolute;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    content: "";
    background: linear-gradient(0deg,rgba(0,0,0,.2),transparent 37%);
    z-index: 1;
}
#showGoods .wrap .showItem img{
    width: 100%;
    position: absolute;
}
#showGoods .wrap .showItem:nth-child(1) {
    width:456px;
    height:384px;
}
#showGoods .wrap .showItem:nth-child(2){
    width:456px;
    height:384px;
}
#showGoods .wrap .showItem:nth-child(3){
    width:616px;
    height:480px;
}
#showGoods .wrap .showItem:nth-child(4){
    width:296px;
    height:480px;
}
#showGoods .wrap .showItem .des{
    position: absolute;
    z-index: 1;
    left:40px;
    bottom:30px;
    color: #fff;

}
#showGoods .wrap .showItem .des .topDes{
    font-size: 18px;
    line-height: 24px;
}
#showGoods .wrap .showItem .des .otherDes{
    font-size: 12px;
    margin-bottom: 20px;
    line-height: 18px;
}
#showGoods .wrap .showItem .des .buyNow{
    width:128px;
    height:34px;
    background: transparent;
    border: 1px solid #fff;
    text-align:center;
    line-height: 34px;
    color:#fff;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}


#footArea{
    width: 100%;
    height:800px;
    background: url("../img/footBg.jpg") no-repeat  center;
    background-size: 100%;
    position: relative;
    font-size: 0;
}
#footArea .footTitle{
    position: absolute;
    text-align: center;
    width: 100%;
    margin: 160px auto 300px;
}
#footArea .footTitle .footName{
    font-size: 36px;
    margin-bottom:20px;
}
#footArea .footTitle .desWord{
    font-size: 14px;
    margin-bottom: 30px;
}
#footArea .footTitle .searchNow{
    width:128px;
    height:34px;
    border: 1px solid #000;
    background: transparent;
    font-size: 12px;
    cursor: pointer;
    outline: none;
}
#footArea .footTitle .searchNow:hover{
    color:#666
}

#footArea .otherPart{
    width: 100%;
    position: absolute;
    bottom:0;
}
#footArea .otherPart .leftArea{
    width:60%;
    height:200px;
    float: left;
    background: hsla(0,0%,100%,.9);
    text-align: right;
}
#footArea .otherPart .leftArea .smallItem{
    display: inline-block;
    width:170px;
    height:50px;
    padding:75px 0;
    font-size: 14px;
    text-align: left;
}
#footArea .otherPart .leftArea .smallItem:last-child{
    margin-right: 21px;
}
#footArea .otherPart .leftArea .smallItem img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}


#footArea .otherPart .rightArea{
    width:40%;
    height:200px;
    float: right;
    background:rgba(0,0,0,.8) ;
}
#footArea .otherPart .rightArea .partContanier{
    padding:43px  0  43px 46px;
}
#footArea .otherPart .rightArea .preface{
    font-size: 14px;
    line-height: 20px;
    color:#fff;
}
#footArea .otherPart .rightArea .emailArea{
    height:75px;
    line-height: 75px;
}
#footArea .otherPart .rightArea .emailArea input{
    width:288px;
    height:32px;
    border: none;
    outline: none;
    padding:2px 6px;
    border-radius: 3px;
}
#footArea .otherPart .rightArea .emailArea button{
    width:50px;
    height:36px;
    border: none;
    background: #d2003c;
    color:#fff;
    font-size: 14px;
    position: relative;
    left:-50px;
    top:1px;
    outline: none;
    cursor: pointer;
}
#footArea .otherPart .rightArea .confirm{
    color:#fff;
    font-size: 12px;
}
#footArea .otherPart .rightArea .confirm a{
    text-decoration: underline;
}

